.button {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 2px;
  margin: 10px;
}

.button--delete {
  background-color: #ff0000;
}

.button--edit {
  background-color: #008000;
}

.button--hide{
  display: none;
}
